
/* Header section */
header{
    background-color: #ffdfe6;
    margin-top:0px;
    margin-bottom: 50px;
    padding-top: 20px;
}
.primary-color{
    color: #E55473;
}
.header-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-description{
   align-items: center;
   padding: 0px 20px 0px 100px;
}
.header-title{
    font-size: 70px;
    font-weight: bolder;
}
.btn-primary{
    background-color: #E55473;
    color: white;
    padding: 15px 22px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}
.text-message{
    color: #272727;
}

/* Featured section */

.feature-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.feature-description{
    text-align: center;
    margin-bottom: 30px;
}
.feature-title{
    font-size: 40px;
    font-weight: bolder;
}
.feature-flower{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
.fast-image{
    background-color:  #ffdfe6;
    padding: 50px 50px 0px 50px;
    border-radius: 50% 50% 0px 0px;
    width: 250px;
    height: 340px;
}
.second-image{
    background-color: lavender;
    padding: 50px 50px 0px 50px;
    border-radius: 50% 50% 0px 0px;
    width: 250px;
    height: 340px;
}
.third-image{
    background-color: lightslategray;
    padding: 50px 50px 0px 50px;
    border-radius: 50% 50% 0px 0px;
    width: 250px;
    height: 340px;
}

/* Hot deal section */

.hot-deal-section{
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    background-color:#fce7eb;
    padding: 20px 190px 10px;

}
.hot-deal-description{
    text-align: center;
}
.hot-deal-title{
    font-weight: bolder;
    font-size: 35px;
}

/* instagram section */

.Instagram-section{
    margin-top: 50px;
    text-align: center;
}
.instagram-title{
    font-size: 40px;
    font-weight: bolder;
}
.Instagram-flowers{
    margin-top: 40px;
    margin-bottom:50px ;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

/* Coupon section */

.coupon-section{
    background-image: url("../images/Rectangle\ 9.png");
    margin-bottom: 50px;
    text-align: center;
    margin: 0px 100px 50px 100px;
    border-radius: 5px;
}
.coupon-description{
    padding: 80px 0px 140px 0px;
}
.coupon-title{
    font-size: 40px;
    font-weight: 900;
}
#input-field{
    padding: 17px 240px 17px 5px;
    border: none;
    font-size: 18px;
    margin-right: 20px;
}

/* Footer section */

.footer-section{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-title{
    font-size: 48px;
    font-weight: 900;
}